<div class="list-group">

	{{#each contentArray as |item|}}

		{{!-- {{#link-to 'menu' item.id class="list-group-item"}} --}}
		<div  class="list-group-item">
 			<p> <input {{action 'comprar' item on="change"}} type="checkbox" id="checkbox-toggle"  name="toggleCheckbox"  /> Agregar a la orden</p>
			<h4>{{yield 'sectionTitle' item }}</h4>
			<p>{{yield 'sectionBody' item}}</p>
		</div>


		{{/each}}
</div>
