{{client-nav}}

<br><br>
<div class="container-fluid well span6">
	<div class="row-fluid">

	        <div class="span8" >
		    <img src="https://scontent.xx.fbcdn.net/v/t1.0-0/p206x206/1009783_275526912589413_351510623_n.jpg?oh=82f2d73f79bda79fef78c8243bc1be9c&oe=58F37655" class="img-circle" width="100" height="100">
        </div>
        
        <div class="span8">
            <h3>Felipe Mardoqueo Hernández Martínez</h3>
            <h6>Email:mardoqueo.hernandez77@gmail.com</h6>
            <h6>7721257466</h6>
            <h6>Laboratorio de desarrollo de aplicaciones Web</h6>

             <h6><a href="https://www.facebook.com/f.mardoqueo.hernandez" target="_blank">Mas info...</a></h6>
        </div>      
</div>
</div>

<br><br>
<div class="container-fluid well span6">
	<div class="row-fluid">
	        <div class="span8" >
		    <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13886422_10154439738315990_4356528653801450953_n.jpg?oh=45a771462fe0140afa2c95a5defa5716&oe=58AF4764" class="img-circle" width="100" height="100">
        </div>
                <div class="span8">
            <h3>Carla Lizbeth Ramos Torres</h3>
            <h6>Email:carliz1193@hotmail.com</h6>
            <h6>7712405579</h6>
            <h6>Laboratorio de desarrollo de aplicaciones Web</h6>

             <h6><a href="https://www.facebook.com/carliita4" target="_blank">Mas info...</a></h6>
        </div>
      
</div>
</div>