<p>

hola!!!!! Aqui vamos a poner la tercera pantalla 

</p>
<p>

import DataAdapterMixin from 'ember-simple-auth/mixins/data-adapter-mixin'; // poner en cada adapter
export default DS.RESTAdapter.extend(DataAdapterMixin, {
  authorizer: 'authorizer:oauth2'
});

</p>
